Dime/Service References/WSP/GeneracionEncuestaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios.generacionencuestas.claro.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="GeneracionEncuestaService" targetNamespace="http://servicios.generacionencuestas.claro.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.22.87.27:8101/WSGeneraEncuestas/GeneracionEncuestaService?xsd=1" namespace="http://servicios.generacionencuestas.claro.com/" />
    </xsd:schema>
  </types>
  <message name="resetPropiedades">
    <part name="parameters" element="tns:resetPropiedades" />
  </message>
  <message name="resetPropiedadesResponse">
    <part name="parameters" element="tns:resetPropiedadesResponse" />
  </message>
  <message name="enviarEncuesta">
    <part name="parameters" element="tns:enviarEncuesta" />
  </message>
  <message name="enviarEncuestaResponse">
    <part name="parameters" element="tns:enviarEncuestaResponse" />
  </message>
  <message name="registrarLog">
    <part name="parameters" element="tns:registrarLog" />
  </message>
  <message name="registrarLogResponse">
    <part name="parameters" element="tns:registrarLogResponse" />
  </message>
  <portType name="GeneracionEncuesta">
    <operation name="resetPropiedades">
      <input wsam:Action="http://servicios.generacionencuestas.claro.com/GeneracionEncuesta/resetPropiedadesRequest" message="tns:resetPropiedades" />
      <output wsam:Action="http://servicios.generacionencuestas.claro.com/GeneracionEncuesta/resetPropiedadesResponse" message="tns:resetPropiedadesResponse" />
    </operation>
    <operation name="enviarEncuesta">
      <input wsam:Action="http://servicios.generacionencuestas.claro.com/GeneracionEncuesta/enviarEncuestaRequest" message="tns:enviarEncuesta" />
      <output wsam:Action="http://servicios.generacionencuestas.claro.com/GeneracionEncuesta/enviarEncuestaResponse" message="tns:enviarEncuestaResponse" />
    </operation>
    <operation name="registrarLog">
      <input wsam:Action="http://servicios.generacionencuestas.claro.com/GeneracionEncuesta/registrarLogRequest" message="tns:registrarLog" />
      <output wsam:Action="http://servicios.generacionencuestas.claro.com/GeneracionEncuesta/registrarLogResponse" message="tns:registrarLogResponse" />
    </operation>
  </portType>
  <binding name="GeneracionEncuestaPortBinding" type="tns:GeneracionEncuesta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="resetPropiedades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enviarEncuesta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarLog">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GeneracionEncuestaService">
    <port name="GeneracionEncuestaPort" binding="tns:GeneracionEncuestaPortBinding">
      <soap:address location="http://172.22.87.27:8101/WSGeneraEncuestas/GeneracionEncuestaService" />
    </port>
  </service>
</definitions>