Dime/Service References/WSP/GeneracionEncuestaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://servicios.generacionencuestas.claro.com/" targetNamespace="http://servicios.generacionencuestas.claro.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="resetPropiedades">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="psw" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="reqGenerarEncuesta">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="canal" type="xsd:string" />
      <xsd:element minOccurs="0" name="zona" type="xsd:string" />
      <xsd:element name="fecha" type="xsd:string" />
      <xsd:element minOccurs="0" name="min" type="xsd:string" />
      <xsd:element minOccurs="0" name="minContacto" type="xsd:string" />
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" name="cuenta" type="xsd:string" />
      <xsd:element name="operacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="tokenId" type="xsd:string" />
      <xsd:element minOccurs="0" name="usuarioRegistra" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resetPropiedadesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Respuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RespConsultarParamCobranza">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:int" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="mensaje" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="reqGenerarLog">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="0" name="canal" type="xsd:string" />
      <xsd:element minOccurs="0" name="zonaRegion" type="xsd:string" />
      <xsd:element minOccurs="0" name="FechaAtencionCliente" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaEnvioEncuesta" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaReenvioEncuesta" type="xsd:string" />
      <xsd:element minOccurs="0" name="msisdn" type="xsd:long" />
      <xsd:element minOccurs="0" name="minContacto" type="xsd:long" />
      <xsd:element minOccurs="0" name="telefonoLineaOrigen" type="xsd:int" />
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" name="cuenta" type="xsd:int" />
      <xsd:element minOccurs="0" name="coId" type="xsd:int" />
      <xsd:element minOccurs="0" name="operacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoLinea" type="xsd:string" />
      <xsd:element minOccurs="0" name="segmento" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoIdentificacion" type="xsd:int" />
      <xsd:element minOccurs="0" name="numeroIdentificacion" type="xsd:int" />
      <xsd:element minOccurs="0" name="nombreCliente" type="xsd:string" />
      <xsd:element minOccurs="0" name="estado" type="xsd:int" />
      <xsd:element minOccurs="0" name="tokenId" type="xsd:string" />
      <xsd:element minOccurs="0" name="causalesNoExito" type="xsd:string" />
      <xsd:element minOccurs="0" name="idEncuesta" type="xsd:int" />
      <xsd:element minOccurs="0" name="nombreEncuesta" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroReintentos" type="xsd:int" />
      <xsd:element minOccurs="0" name="urlConexion" type="xsd:string" />
      <xsd:element minOccurs="0" name="usuarioRegistraSistema" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarLogResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RespGenerarLog" type="ns0:RespConsultarParamCobranza" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respGenerarEncuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:int" />
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarLog">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReqGenerarLog" type="ns0:reqGenerarLog" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="enviarEncuestaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RespGenerarEncuesta" type="ns0:respGenerarEncuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="enviarEncuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReqEnviarEncuesta" type="ns0:reqGenerarEncuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="resetPropiedades" type="ns0:resetPropiedades" />
  <xsd:element name="resetPropiedadesResponse" type="ns0:resetPropiedadesResponse" />
  <xsd:element name="registrarLogResponse" type="ns0:registrarLogResponse" />
  <xsd:element name="registrarLog" type="ns0:registrarLog" />
  <xsd:element name="enviarEncuestaResponse" type="ns0:enviarEncuestaResponse" />
  <xsd:element name="enviarEncuesta" type="ns0:enviarEncuesta" />
</xsd:schema>