Dime/Service References/WSD/WebService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Telmexla.Servicios.DIME.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Telmexla.Servicios.DIME.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49400/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Telmexla.Servicios.DIME.Entity" />
  <xs:complexType name="ArrayOfUsuariosMasivoData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuariosMasivoData" nillable="true" type="tns:UsuariosMasivoData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuariosMasivoData" nillable="true" type="tns:ArrayOfUsuariosMasivoData" />
  <xs:complexType name="UsuariosMasivoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aliado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Canal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segmento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioAgendamiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioGerencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuariosMasivoData" nillable="true" type="tns:UsuariosMasivoData" />
  <xs:complexType name="ArrayOfListaAccesoSUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaAccesoSUsuario" nillable="true" type="tns:ListaAccesoSUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaAccesoSUsuario" nillable="true" type="tns:ArrayOfListaAccesoSUsuario" />
  <xs:complexType name="ListaAccesoSUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionAcceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAcceso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreAcceso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaAccesoSUsuario" nillable="true" type="tns:ListaAccesoSUsuario" />
  <xs:complexType name="ArrayOfTablaActualizarInbound">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TablaActualizarInbound" nillable="true" type="tns:TablaActualizarInbound" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTablaActualizarInbound" nillable="true" type="tns:ArrayOfTablaActualizarInbound" />
  <xs:complexType name="TablaActualizarInbound">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaCliente" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaNota" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraNota" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdIngreso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LlamadaCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLineaNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfilUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TablaActualizarInbound" nillable="true" type="tns:TablaActualizarInbound" />
  <xs:complexType name="ArrayOfDatoConsultaGestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatoConsultaGestion" nillable="true" type="tns:DatoConsultaGestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatoConsultaGestion" nillable="true" type="tns:ArrayOfDatoConsultaGestion" />
  <xs:complexType name="DatoConsultaGestion">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Telmexla.Servicios.DIME.Entity" minOccurs="0" name="Ingreso" nillable="true" type="q1:Ingreso" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Telmexla.Servicios.DIME.Entity" minOccurs="0" name="NotaIngreso" nillable="true" type="q2:NotasIngreso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatoConsultaGestion" nillable="true" type="tns:DatoConsultaGestion" />
  <xs:complexType name="ArrayOfDatoConsultaRechazo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatoConsultaRechazo" nillable="true" type="tns:DatoConsultaRechazo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatoConsultaRechazo" nillable="true" type="tns:ArrayOfDatoConsultaRechazo" />
  <xs:complexType name="DatoConsultaRechazo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliadoUsuarioRechaza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacionCaso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRechazo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraCreacionCaso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraRechazo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdIngreso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreLineaUsuarioRechaza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuarioRechaza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotasRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacionCaso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRechaza" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatoConsultaRechazo" nillable="true" type="tns:DatoConsultaRechazo" />
  <xs:complexType name="ArrayOfGestionDeCelulaUsr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GestionDeCelulaUsr" nillable="true" type="tns:GestionDeCelulaUsr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGestionDeCelulaUsr" nillable="true" type="tns:ArrayOfGestionDeCelulaUsr" />
  <xs:complexType name="GestionDeCelulaUsr">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaCliente" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaApertura" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNota" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraNota" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdIngreso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdNota" type="xs:decimal" />
      <xs:element minOccurs="0" name="Macroproceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marcacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLineaEscalado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLineaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semaforo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioApertura" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GestionDeCelulaUsr" nillable="true" type="tns:GestionDeCelulaUsr" />
  <xs:complexType name="ArrayOfDatoConsultaPaloteo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatoConsultaPaloteo" nillable="true" type="tns:DatoConsultaPaloteo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatoConsultaPaloteo" nillable="true" type="tns:ArrayOfDatoConsultaPaloteo" />
  <xs:complexType name="DatoConsultaPaloteo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliadoApertura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaCliente" type="xs:decimal" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaInteraccion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraInteraccion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdIngreso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LlamadaCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Macroproceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marcacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComunidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLineaNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuarioNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolUsuarioNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsuarioNotaCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatoConsultaPaloteo" nillable="true" type="tns:DatoConsultaPaloteo" />
  <xs:complexType name="ArrayOfDatoConsultaGestionAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatoConsultaGestionAdmin" nillable="true" type="tns:DatoConsultaGestionAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatoConsultaGestionAdmin" nillable="true" type="tns:ArrayOfDatoConsultaGestionAdmin" />
  <xs:complexType name="DatoConsultaGestionAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliadoApertura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaCliente" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaApertura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCierre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimaActualizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraApertura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraUltimaActualizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdIngreso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Macroproceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marcacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLineaEscalado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLineaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioApertura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCierre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioUltimaActualizacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatoConsultaGestionAdmin" nillable="true" type="tns:DatoConsultaGestionAdmin" />
</xs:schema>